@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(105, 105, 105);
    height: 100%;
}

.caixa-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.titulo {
    color: white;
    font-size: 1.2rem;
}

.menu a {
    color: rgb(255, 96, 144);
}

.menu a:hover {
    color: rgba(255, 96, 144, 0.600);
}

.caixa-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.items-caixa {
    padding: 1rem;
    margin: 0.5rem;
}

.img-avatar {
    width: 15rem;
    border-radius: 60%;
}

.sobre-me {
    padding: 0.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sobre-me2 {
    padding: 0.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-github {
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
}

.img-github:hover{
    background-color: rgba(28, 28, 29, 0.199);
}

.projeto {
    width: 100%;
    border-radius: 1.2rem;
}

.roda-pe {
    font-size: 0.5rem;
    padding: 2rem;
    margin: 1rem;
    color: white;
}

.roda-pe p {
    text-align: center;
}

.roda-pe p a {
    color: rgb(255, 96, 144);
}

.roda-pe p a:hover {
    color: rgba(255, 96, 144, 0.600);
}
